*,
*::before
*::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items:center;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(37.5deg, #ea4b33, rgb(255, 231, 13));
}
.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    color:white;
    padding: 5em 3em;
    position: relative;
    display:grid;
    align-content: center;
    cursor: pointer;

    transition:  1s;

    transform-style: preserve-3d
}
.content::before{
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    border: 3px solid white;

    transform: translateZ(2rem);
}
.content::after{
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(229, 229, 229, 0.25);
    

    transform: translateZ(-2rem);
}
.title{
    position: relative;
    z-index: 10;
    font-size: 2.5em;

    transform: translateZ(6rem);
}
.subtitle{
    position: relative;
    z-index: 10;
    letter-spacing: 4px;
    font-size: 0.75em;

    transform: translateZ(8rem);
}
.linkedin{
    position: relative;
    z-index: 10;
    font-size: 2.5em;
    color: white;
    text-decoration: none;

    transform:translateZ(8rem) ;
}
.linkedin span{
    color:#0c7af8;
    font-weight: 700;
}
.content:hover{
    transform: rotateY(30deg) rotateX(30deg);
}
